{{ define "main" }}
<div class="container my-auto">
    <main class="post-index">
        {{ $pagesToShow := where .Pages "Section" "journal" }}
        {{ $posts := $pagesToShow.ByDate.Reverse }}
        <div class="mb-3">
            <blockquote>
                <p>
                    That is perhaps the most solid dating advice I have, by the way—show the inside of your head in public, so people can see if they would like to live in there.
                </p>
            </blockquote>
            — <a href="https://www.henrikkarlsson.xyz/p/looking-for-alice" target="_blank">Henrik Karlsson, <span class="italic">Looking for Alice</span></a>
        </div>
        {{ range $posts }}
        <article class="post-item {{- if .Params.hidden }} !hidden {{- end -}}">
            <h4 class="post-item-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h4>
            {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
            {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
            <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
                {{ time.Format $configDateFormat .Date }}
            </time>
        </article>
        {{ end }}
    </main>
</div>
{{ end }}