body {
  background-color: #091833;
  color: #ffffff;
  caret-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #8787a4;
  text-decoration: underline;
}
a:hover {
  background: #8787A4;
  color: #ffffff;
}
a > code:hover {
  background-color: #8787A4;
}

nav > a {
  margin: 0 3px;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
  font-style: italic;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background: repeating-linear-gradient(90deg,#fff,#fff 6px,transparent 1px,transparent 8px);
}

ul {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  overflow-x: auto;
  padding: 0.5em;
}

.code {
  background-color: #2b3148;
}

.diff-remove {
  color: #ed88a5;
}
.diff-add {
  color: #a2de88;
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  margin: 1em auto;
  padding: 0 1em;
  max-width: min(60rem, 100vw);
}

.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.font-bold {
  font: bold;
}
.font-mono {
  font-family: "Lucida Console", "Courier New", monospace;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.h-100vh {
  height: 100vh;
}

.mx-1 {
  margin: auto 1em;
}
.m-auto {
  margin: auto;
}
.mb-1 {
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}
.pt-1 {
  padding-top: 1em;
}
.pb-1 {
  padding-bottom: 1em;
}

.bg-transparent {
  background-color: transparent !important;
}
