{{ define "post/single" }}
<main class="post">
    <article>
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
            {{ if .Banner }}
            <img class="post-banner" src="{{ .Banner }}">
            {{ end }}
            <div class="post-meta">
                <span>{{ .Sats }} sats</span>
                {{ if .SnId }}
                <span>|</span>
                <span>
                    <a
                        class="underline"
                        href="https://stacker.news/items/{{- .SnId -}}"
                        target="_blank"
                        rel="noopener noreferrer me">{{ .Comments }} comments</a>
                </span>
                {{ end }}
                <span>|</span>
                <time datetime="{{ formatTime .Time "2006-01-02T15:04:05Z" }}" itemprop="datePublished">
                    {{ formatTime .Time "Jan 2, 2006" }}
                </time>
                <div class="post-item-tags">
                    {{ range .Tags }}
                    {{ if . }}<span>{{ . }}</span>{{ end }}
                    {{ end }}
                </div>
            </div>
        </header>
        <div class="post-content">
            {{ .HTML }}
        </div>
    </article>
</main>
{{ end }}
