{{ define "main" }}
<div class="container">
    <main class="post">
        <article>
            <header class="post-header">
                <h1 class="post-title">{{ .Title }}</h1>
                {{ with .Resources.GetMatch .Params.banner }}
                {{ $image := .Fit "1920x1080" }}
                <img class="post-banner" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}">
                {{ end }}
                {{ with .Date }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <div class="post-meta">
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format ":date_medium" }} </time>
                </div>
                {{ end }}
            </header>
            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
    </main>
</div>
{{ end }}
