package main

import "github.com/ekzyis/snappy"
import "fmt"

templ contentMeta (item *sn.Item) {
    <span class="px-1">|</span>
    <span>
        <a
            class="underline"
            href={ templ.URL(fmt.Sprintf("https://stacker.news/items/%d", item.Id)) }
            target="_blank"
            rel="noopener noreferrer me"
        >
        { fmt.Sprintf("%d comments", item.NComments) }
        </a>
    </span>
    <span class="px-1">|</span>
    <span>{ fmt.Sprintf("%d sats", item.Sats) }</span>
}