.footer {
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    color: var(--footer-color);
}

.footer a {
    text-decoration-color: var(--footer-color);
}

.footer a:hover {
    text-decoration-color: var(--link-color);
}

.footer svg {
    display: inline;
    width: 24px;
    height: 24px;
    margin-left: .2rem;
    margin-right: .2rem;
}
