<footer class="footer">
    <div>
        {{- range site.Params.socials -}}
        <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me"
            title="{{ (.title | default .name) | title }}">
            {{ partial "svg/svgs.html" . }}
        </a>
        {{- end -}}
    </div>
    <small>
        running <a class="underline" href="https://git.ekzy.is/ekzyis/ekzyis/commit/{{ site.Params.commit }}" target="_blank" rel="noopener noreferrer me">{{ site.Params.commit }}</a>
    </small>
</footer>
