{{ define "main" }}
<div class="container my-auto">
    <main class="post-index">
        <h3 class="posts-item-note">{{ T "home.recent_posts" }}</h3>
        {{/* Show last 5 posts in reverse date order */}}
        {{ $pagesToShow := where .Site.RegularPages "Section" "ne" "journal" }}
        {{ $posts := $pagesToShow.ByDate.Reverse }}
        {{ range $posts }}
        <article class="post-item {{- if .Params.hidden }} !hidden {{- end -}}">
            <h4 class="post-item-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h4>
            {{/* format date string to create an ISO 8601 string */}}
            {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
            {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
            <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
                {{ time.Format $configDateFormat .Date }}
                {{/* OLD FORMAT: .Date.Format $configDateFormat */}}
            </time>
        </article>
        {{ end }}
    </main>
</div>
{{ end }}
