<!DOCTYPE html>
<html lang="en-us">
{{ template "head" }}
<body>
{{ template "nav" }}
<div class="container my-auto">
    <main class="post-index">
        <h3 class="posts-item-note"></h3>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/pqc-vs-mtu/">Post-Quantum TLS vs. MTU?</a>
            </h4>
            <time class="post-item-meta" datetime="2025-07-13T00:00:00Z">13 Jul 2025</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/internet_feelings/">internet feelings</a>
            </h4>
            <time class="post-item-meta" datetime="2024-11-19T20:09:04Z">19 Nov 2024</time>
            </time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/between_moments_of_wonder_and_euphoria/">Between Moments of Wonder and Euphoria</a>
            </h4>
            <time class="post-item-meta" datetime="2024-07-13T00:00:00Z">13 Jul 2024</time>
        </article>
        <article class="post-item !hidden">
            <h4 class="post-item-title">
                <a href="/austin/">Austin&#39;s Orange Glow</a>
            </h4>
            <time class="post-item-meta" datetime="2024-06-23T00:00:00Z">23 Jun 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/htmx_intrigue/">HTMX Intrigue</a>
            </h4>
            <time class="post-item-meta" datetime="2024-06-07T06:48:38Z">7 Jun 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/about/">About</a>
            </h4>
            <time class="post-item-meta" datetime="2024-04-13T12:27:51Z">13 Apr 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/4-f4ll-guy-0x02/">4_F4ll_GuY_0x02.md</a>
            </h4>
            <time class="post-item-meta" datetime="2024-03-21T22:46:03Z">21 Mar 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/4-f4ll-guy-0x01/">4_F4ll_GuY_0x01.md</a>
            </h4>
            <time class="post-item-meta" datetime="2024-03-07T15:30:29Z">7 Mar 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/the_curious_case_of_digital_signatures/">The Curious Case of Digital Signatures</a>
            </h4>
            <time class="post-item-meta" datetime="2024-02-24T23:53:31Z">24 Feb 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/life-is-about-awareness/">Life is about Awareness</a>
            </h4>
            <time class="post-item-meta" datetime="2024-02-05T00:00:00Z">5 Feb 2024</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/the-view-from-halfway-down/">The View from Halfway Down</a>
            </h4>
            <time class="post-item-meta" datetime="2024-01-23T00:00:00Z">23 Jan 2024</time>
        </article>
        <article class="post-item !hidden">
            <h4 class="post-item-title">
                <a href="/11-11/">(I think) I finally understand DarthCoin</a>
            </h4>
            <time class="post-item-meta" datetime="2023-12-12T00:00:00Z">12 Dec 2023</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/wireguard-port-forwarding/">WireGuard Port Forwarding</a>
            </h4>
            <time class="post-item-meta" datetime="2023-09-25T00:00:00Z">25 Sep 2023</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/wireguard-packet-forwarding/">WireGuard Packet Forwarding</a>
            </h4>
            <time class="post-item-meta" datetime="2023-08-21T00:00:00Z">21 Aug 2023</time>
        </article>
        <article class="post-item">
            <h4 class="post-item-title">
                <a href="/demystifying-wireguard-and-iptables/">Demystifying WireGuard and iptables</a>
            </h4>
            <time class="post-item-meta" datetime="2023-08-09T00:00:00Z">9 Aug 2023</time>
        </article>
    </main>
</div>
{{ template "footer" }}
</body>
</html>
