<!DOCTYPE html>
<html lang="en-us">
{{ template "head" . }}
<body>
{{ template "nav" }}
<div class="container content-center">
    <main class="post-index">
        <div class="quote-carousel" style="--quote-count: {{ len .Quotes }}">
            {{ range $i, $q := .Quotes }}
            <blockquote style="--i: {{ $i }}">
                <p>{{ $q.Quote }}</p>
                {{ if $q.Author }}<cite>{{ $q.Author }}</cite>{{ end }}
            </blockquote>
            {{ end }}
        </div>
        {{ range .Posts }}
        {{ template "post/list" . }}
        {{ end }}
    </main>
</div>
{{ template "footer" . }}
</body>
</html>
