<footer class="flex text-center justify-center mx-1 pb-1">
  <div>
    <hr />
    <nav class="flex flex-row text-center justify-center">
      <a href="/blog/rss.xml">rss</a>
      <a href="https://snort.social/p/npub16x07c4qz05yhqe2gy2q2u9ax359d2lc0tsh6wn3y70dmk8nv2j2s96s89d">nostr</a>
      <a href="/simplex.jpeg">simplex</a>
      <a href="https://github.com/ekzyis">github</a>
      <a href="https://stacker.news/ekzyis">sn</a>
    </nav>
    <small><code>Build Date: {{ .BuildDate }}</code></small><br />
    <small><code>running <a target="_blank" href="https://git.ekzyis.com/ekzyis/ekzyis/commit/{{ .Version }}">{{ .Version }}</a></code></small>
  </div>
</footer>