<head>
  <title>{{ if .Title }} {{- .Title -}} {{ else }} {{- "ekzyis" -}} {{ end }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#091833" />
  <link rel="alternate" type="application/rss+xml" title="Name of RSS feeda" href="/blog/rss.xml" />
  {{ if eq .Env "development" }}
  <script>
    async function hotReload() {
      console.log("running in development mode")
      const r = await fetch("/hot-reload")
      let x = await r.text()
      setInterval(async () => {
        const r = await fetch("/hot-reload", {
          cache: "no-cache"
        })
        if (x !== await r.text()) {
          x = r.body
          window.location.reload()
        }
      }, 1000)
    }
    hotReload()
  </script>
  {{ end }}
</head>