{{ define "head" }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ekzyis</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script defer data-domain="ekzy.is" src="https://plausible.io/js/script.js"></script>
    <!-- use ?v=<commit> for cache busting -->
    <link rel="stylesheet" href="/css/tailwind.css?v={{- .Commit -}}">
    <link rel="stylesheet" href="/css/post.css?v={{- .Commit -}}">
    <link rel="stylesheet" href="/css/footer.css?v={{- .Commit -}}">
    <link rel="stylesheet" href="/css/carousel.css?v={{- .Commit -}}">
</head>
{{ end }}