<head>
  <title>{{ if .Title }} {{- .Title -}} {{ else }} {{- "ekzyis" -}} {{ end }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#091833" />
  <link rel="alternate" type="application/rss+xml" title="blog | ekzyis" href="/blog/rss.xml" />
  <script defer data-api="/api/event" data-domain="ekzyis.com" src="/js/script.js"></script>
  {{ if eq .Env "development" }}
  <script defer src="/hotreload.js"></script>
  {{ end }}
</head>